<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Coloro: 404</title>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/html" href="/hosted/style.css" />
</head>

<body>
 <nav><a href="/login"></a>
        <div id="title">
            <h1> Coloro </h1>
        </div>
        <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
        <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    </nav>

    <section id="lostInfo">
        <h1> Yo, you are lost</h1>
        <h3> Please enter a valid url or select a link from the menu above</h3>
        <img src="/assets/img/people.png" width="200"/>
    </section>


    <script src="/assets/bundle.js"></script>
</body>

</html>