<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Coloro</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <nav><a href="/login"></a>
        <div id="title">
            <h1> Coloro </h1>
        </div>
            <div class="navlink">
                <a href="/"> Color Picker </a>
                <a href="/logout"> Log out </a>
            </div>
    </nav>
    
    <div class="premiumMain">
        <h1> Buy premium and get: </h1>
        <ul>
            <li> Unlimited palettes! </li>
            <li> Bragging rights with your friends! </li>
            <li> A lighter wallet! </li>
        </ul>
        <h3> only 1000$ a month</h3>
    </div>
    
    <div id="aniMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
        <h3><span id="errorMessage"></span></h3><img id="dont" src="assets/img/dont.png" alt="dont finger" />
    </div>
    <script src="/assets/bundle.js"></script>
</body>

</html>
