html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}


nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
}

.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 700px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#main {
    display: none;
}

#makeColor {
    display: none;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    border-color: white;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgba(0,0,0, 0.2);
}

.controlBox:hover {
    transition: background-color 0.4s ease;
    background-color: rgba(0,0,0, 0.2);
}



#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#aniMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#aniMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#dont {
    z-index: 225;
    margin-top: -20px;
    margin-left: 50px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}

/*
Color Styles
*/

body {
    margin: 0;
    background-color: lightsalmon;
}

h1, h2, h3, h4, p, a, label {
    color: white;
    font-family: sans-serif;
    text-shadow: rgb(71, 71, 71) 1px 2px 10px;
}

h1, p {
  text-shadow: rgb(71, 71, 71) 1px 2px 10px;
}

#title h1 {
  font-size: 32px;
  margin: 0px;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
}

#currColor {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

h2 {
    padding: 10px;
    margin: 0;
}

label {
    font-family: sans-serif;
    font-weight: 700;
}

#paletteHolder {
    position: absolute;
    bottom: 0px;
    margin: 0;
    width: 100%;
    height: 75px;
    border-top: 1px dashed white;
}

.paletteBtn {
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 5px 10px;
    cursor: pointer;
    border: 1px solid white;
}

#mainHolder {}

#controls {
  position: absolute;
  left: -50px;
  top: 30%;
}

#controls ul {
  list-style: none;
}

.controlBox {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 15px 5px 50px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  text-align: right;
  margin-bottom: 5px;
}

.adElementC {
    background-image: url(img/fake-ad.jpg);
    background-size: cover;
}